practica_PLC/flows (2).json
[{"id":"aee3f714.74ac38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ee2484.0f68fb8","type":"s7 in","z":"aee3f714.74ac38","endpoint":"3626ad7.15f2152","mode":"all","variable":"Potenciometre","diff":true,"name":"LecturaVariables","x":240,"y":100,"wires":[["ef27ad1a.51bde","2d6cf314.be3edc"]]},{"id":"a377501d.e1de4","type":"s7 out","z":"aee3f714.74ac38","endpoint":"3626ad7.15f2152","variable":"","name":"Escriure Display","x":800,"y":220,"wires":[]},{"id":"2d6cf314.be3edc","type":"function","z":"aee3f714.74ac38","name":"Cacular","func":"var Pot = msg.payload.Potenciometre;\nvar VPot = Math.round(((Pot)/27648)*200)+50;\nvar SenNiv = msg.payload.SensorNivell;\nvar VSenNiv = Math.round(((SenNiv)/27648)*300);\nmsg.variable=[\"VPot\",\"VSenNiv\",\"Nivell\"];\nmsg.payload=[VPot,VSenNiv,VSenNiv];\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["a377501d.e1de4"]]},{"id":"30e8077e.b6ded8","type":"debug","z":"aee3f714.74ac38","name":"Lectura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":300,"wires":[]},{"id":"7d1324c1.b2a99c","type":"mqtt out","z":"aee3f714.74ac38","name":"Prac","topic":"/v1.6/devices/prac","qos":"","retain":"","broker":"ec3e2483.93a0d8","x":830,"y":120,"wires":[]},{"id":"9497649d.da5bc8","type":"mqtt in","z":"aee3f714.74ac38","name":"Poten","topic":"/v1.6/devices/prac/potubid/lv","qos":"2","datatype":"auto","broker":"ec3e2483.93a0d8","x":230,"y":380,"wires":[["f806a545.7e9c08"]]},{"id":"ef27ad1a.51bde","type":"function","z":"aee3f714.74ac38","name":"Cacular","func":"var Pot = msg.payload.Potenciometre;\nvar VPot = (((Pot)/27648)*200)+50;\nvar SenNiv = msg.payload.SensorNivell;\nvar VSenNiv = (((SenNiv)/27648)*300);\nvar Cabal = msg.payload.Cabalimetre;\nvar VCabal = (((Cabal/27648)*354.3));\nvar valbuid = (((msg.payload.ValBuidar)/27648)*100);\nvar valomplir = (((msg.payload.ValOmplir)/27648)*100);\nvar ConAct = msg.payload.ConsignaActual;\nvar Buidar = msg.payload.OrdreBuidar;\nif (Buidar===true){\n    Buidar=1;\n}\nelse{\n    Buidar=0;\n}\nvar control = msg.payload.ControlRemot;\nif (control===true){\n    control=1;\n}\nelse{\n    control=0;\n}\nmsg.payload={\"Consigna\":ConAct,\"SensorNivell\":VSenNiv,\"Cabalimetre\":Cabal,\"litressegon\":VCabal,\"ControlRemot\":control,\"ValBuid\":valbuid,\"ValOmplir\":valomplir,\"OrdreBuidar\":Buidar}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["30e8077e.b6ded8","7d1324c1.b2a99c"]]},{"id":"3c75f9de.990906","type":"mqtt in","z":"aee3f714.74ac38","name":"Cabal","topic":"/v1.6/devices/prac/cabal/lv","qos":"2","datatype":"auto","broker":"ec3e2483.93a0d8","x":230,"y":500,"wires":[["d8e94b64.295968"]]},{"id":"f806a545.7e9c08","type":"function","z":"aee3f714.74ac38","name":"NumToBool","func":"msg.payload=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["c87a5dd7.ddc2e"]]},{"id":"c87a5dd7.ddc2e","type":"s7 out","z":"aee3f714.74ac38","endpoint":"3626ad7.15f2152","variable":"potubid","name":"potubid","x":720,"y":420,"wires":[]},{"id":"d8e94b64.295968","type":"function","z":"aee3f714.74ac38","name":"NumToBool","func":"msg.payload = Math.round(parseFloat(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":461,"y":508,"wires":[["2c3da1f2.51c82e"]]},{"id":"2c3da1f2.51c82e","type":"s7 out","z":"aee3f714.74ac38","endpoint":"3626ad7.15f2152","variable":"Cabalmitja","name":"Cabal","x":670,"y":520,"wires":[]},{"id":"3626ad7.15f2152","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.1.31","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"2000","timeout":"1500","verbose":"default","name":"ConexioS7_1200","vartable":[{"addr":"I10.0","name":"Buidar"},{"addr":"I10.2","name":"ControlRemot"},{"addr":"II100","name":"Cabalimetre"},{"addr":"II102","name":"Potenciometre"},{"addr":"II104","name":"SensorNivell"},{"addr":"QI100","name":"Cabalmitja"},{"addr":"QI102","name":"ConsignaActual"},{"addr":"QI104","name":"Nivell"},{"addr":"QI106","name":"ValBuidar"},{"addr":"QI108","name":"ValOmplir"},{"addr":"QI110","name":"VPot"},{"addr":"QI112","name":"VSenNiv"},{"addr":"Q1.0","name":"OrdreBuidar"},{"addr":"QI114","name":"potubid"}]},{"id":"ec3e2483.93a0d8","type":"mqtt-broker","z":"","name":"Prac","broker":"industrial.api.ubidots.com","port":"1883","tls":"aa5b888a.650708","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aa5b888a.650708","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"certificat.crt","keyname":"","caname":"","servername":"","verifyservercert":true}]